<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="/commons/fragments :: commons_head"></th:block>
  <title>회원정보 수정</title>
</head>

<body>


<th:block th:replace="/commons/fragments :: commons_nav" />

<!--================login_part Area =================-->
<section class="login_part padding_top">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-12 col-md-12">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>Port Shop 회원정보 수정</h3>
            <form class="row contact_form" th:action="@{/member/modify}" method="post" th:object="${member}" novalidate="novalidate">

              <div class="col-md-12 form-group p_star">
                <div>아이디</div>
                <input type="text" class="form-control" id="mId" name="id" th:field="*{id}" readonly placeholder="아이디">
              </div>

              <div class="col-md-12 form-group p_star">
                <div>비밀번호</div>
                <input type="password" class="form-control" id="mPw" name="pw" th:field="*{pw}"
                       placeholder="암호">
              </div>
                <div class="col-md-12 form-group p_star">
                  <div>이름</div>
                  <input type="text" class="form-control" id="mName" name="name" th:field="*{name}"
                       placeholder="이름">
              </div>
              <div class="col-md-12 form-group p_star">
                <div>이메일</div>
                <input type="email" class="form-control" id="mEmail" name="email" th:field="*{email}"
                       placeholder="이메일">
              </div>
              <div class="col-md-12 form-group p_star">
                <div>전화번호</div>
                <input type="text" class="form-control" id="mTel" name="tel" th:field="*{tel}"
                       placeholder="전화">
              </div>
              <div class="col-md-12 form-group p_star">
                <div>주소</div>
                <input type="text" class="form-control" id="mAddress" name="address" th:field="*{address}"
                       placeholder="주소">
              </div>
                <button type="button" onclick="history.back()"  class="btn btn-secondary mr-2">
                  취소
                </button>
                <button type="submit" value="submit" class="btn btn-danger">
                  회원 정보 수정
                </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================login_part end =================-->

<footer th:replace="/commons/fragments :: commons_footer"></footer>
<th:block th:include="/commons/fragments :: commons_jquery_pluginis"></th:block>

</body>

</html>