<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="/commons/fragments :: commons_head"></th:block>
  <title>비밀번호 재설정 요청</title>
</head>

<body>


<th:block th:replace="/commons/fragments :: commons_nav" />

<section class="padding_top">
  <div class="container">
    <form method="post" th:action="@{/forgetPassword}" class="col-md-12 form-group p_star">
      <div>
        <span class="h5">아이디를 이용해서 비밀번호 재설정</span>
        <input type="text" class="form-control" id="id" name="id" placeholder="아이디를 입력하세요">
      </div>
      <button type="submit" class="btn btn-danger mt-1" >제출</button>
    </form>
  </div>
</section>


<footer th:replace="/commons/fragments :: commons_footer"></footer>
<th:block th:include="/commons/fragments :: commons_jquery_pluginis"></th:block>

</body>

</html>