<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="/commons/fragments :: commons_head"></th:block>
  <title>비밀번호 재설정</title>
</head>

<body>


<th:block th:replace="/commons/fragments :: commons_nav" />

<section class="padding_top">
  <div class="container">
    <form method="post" th:action="@{/resetPassword}" onsubmit="return validate()" class="col-md-12 form-group p_star">
      <div>
        <span class="h5">새로운 비밀번호를 입력하세요</span>
        <input type="hidden" name="id" th:value="${id}">
        <input type="hidden" name="token" th:value="${token}">
        <input type="password" class="form-control w-50" id="pwd" name="pwd" placeholder="비밀번호 입력" pattern=".{2,30}" title="비밀번호는 2-30자로 입력하세요" required>
        <input type="password" class="form-control w-50 mt-1" id="pwd_confirm" name="pwd_confirm" placeholder="비밀번호 재입력" required>
      </div>
      <button type="submit" class="btn btn-danger mt-1">비밀번호 재설정</button>
    </form>
  </div>
</section>


<footer th:replace="/commons/fragments :: commons_footer"></footer>
<th:block th:include="/commons/fragments :: commons_jquery_pluginis"></th:block>

<script>
  function validate(){

    const password = document.getElementById("pwd").value;
    const confirmPassword = document.getElementById("pwd_confirm").value;

    if (password != confirmPassword) {
      toastr.warning("비밀번호가 일치하지 않습니다.");
      return false;
    }

    return true;
  }
</script>

</body>

</html>