
.content{
    font-size:1.1rem;

}
.message{
    /*background: #00203FFF;*/
    color:#ADEFD1FF;
}

.content-div{
    margin-top:130px;
    padding:10px;
    min-height: 500px;
    background: aliceblue;

}

.content-div span{
    margin-right: 20px;
    font-weight: bold;
}

.title-row{
    /*border:solid blanchedalmond;*/
    background: gainsboro;
    font-size:1.6rem;
}
.info-row{
    background: #dae0e5;
    font-size:1.14rem;
}
.board-explain{
    font-size: 1.05rem;
}

.board-explain span:nth-child(2){
    color:green;
}

.reply-info{
    margin-top: 30%;
}

img{
    max-width: 600px;
    max-height: 400px;
    margin-top: 20px;
}

.comment-item{
    color:#721c24;
    background: white;
}

.message div{
    color:cadetblue;
}

.comment-wrapper{
    /*background: none;*/
}

.comment-item{
    background: none;

}

.comment-reply{
    display:inline;
}

.replyCommentForm{
    display: none;
}