<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/my_css/board.css" rel="stylesheet">
  <th:block th:include="/commons/fragments :: commons_head"></th:block>
    <title>게시판</title>
</head>
<body>
  <th:block th:replace="/commons/fragments :: commons_nav" />

<!--  </section>-->
<!--content table end -->
  <!--pagination wrapper start -->
  <div id="content_div" class="container" >
    <table class="table table-responsive-sm">
      <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
        <th scope="col" class="text-center">조회수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boardList}">
        <td th:text="${board.no}" class="text-center"></td>
        <td><a th:text="${board.title}"
               th:href="@{/board/{boardNo}(boardNo=${board.no}, nowPage=${pageInfo.nowPage}) }"></a> </td>
        <td th:text="${board.writer}"></td>
        <td th:text="${#temporals.format(board.regDate, 'yyy-MM-dd')}"></td>
        <td th:text="${board.views}" class="text-center"></td>
      </tr>


      </tbody>
    </table>

    <!-- 페이지네이션 -->
    <nav aria-label="Page" class="pagination-wrapper" th:if="${pageInfo.totalPages > 0}">
      <ul class="pagination">
        <li th:if="${pageInfo.prevPage}" class="page-item"><a class="page-link" th:href="@{/board(page=${pageInfo.nowPage - 1}, target=${target}, keyword=${keyword})}">Prev</a></li>

        <li th:each="num : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}" class="page-item" th:classappend="${pageInfo.nowPage==num} ? active">
          <a class="page-link" th:href="@{/board(page=${numStat.current}, target=${target}, keyword=${keyword})}" th:text="${numStat.current}"></a>
        </li>

        <li th:if="${pageInfo.nextPage}" class="page-item"><a class="page-link" th:href="@{/board(page=${pageInfo.nowPage + 1}, target=${target}, keyword=${keyword})}">Next</a></li>
      </ul>
    </nav>




    <div class="row ">
      <!-- 검색 -->
      <form class="col-md-10" method="get" th:action="@{/board(page=${pageInfo.nowPage - 1})}">
        <div class="input-group">
          <div class="input-group-prepend">
            <select class="form-control form-control-sm w-50" name="target">
              <option value="all" th:selected="${target == 'all'}">전체</option>
              <option value="title" th:selected="${target == 'title'}">제목</option>
              <option value="content" th:selected="${target == 'content'}">내용</option>
              <option value="writer" th:selected="${target == 'writer'}">글쓴이</option>
            </select>
            <input type="search" class="form-control form-control-sm " name="keyword" th:value="${keyword}">
          </div>
          <div>
            <button class="btn btn-info btn-sm" type="submit">검색</button>
          </div>
        </div>
      </form>
      <div class="col-md-2">
        <a href="/board/write" class="genric-btn primary">글작성</a>
      </div>
    </div>

    <input type="hidden" value="" id="stateTag" th:value="${state}">
    <input type="hidden" value="" id="messageTag" th:value="${message}">

  </div>

  <footer th:replace="/commons/fragments :: commons_footer"></footer>
  <th:block th:include="/commons/fragments :: commons_jquery_pluginis"></th:block>
  <script src="js/my_js/common_toastr.js"></script>

</body>
</html>