<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/my_css/view.css" rel="stylesheet">
    <th:block th:include="/commons/fragments :: commons_head"></th:block>
    <title>글보기</title>
</head>
<body th:with="user=${session.user == null ? '익명':session.user}">
  <th:block th:replace="/commons/fragments :: commons_nav" />

  <div class="container content-div">

      <!-- 게시글 수정,삭제 버튼 start-->
      <div class="edit-menu" id="board-edit" th:if="${user} == ${board.writer}">
          <form>
              <input type="hidden" name = "writer" th:value="${board.writer}" />
              <button th:formaction="@{/board/{boardNo}/delete(boardNo=${board.no})}" method="post" class="btn">삭제</button>
              <button th:formaction="@{/board/{boardNo}/edit(boardNo=${board.no}, nowPage=${nowPage})}" method="get" class="btn">수정</button>
          </form>

      </div>


      <!-- 게시글 수정,삭제 버튼 end-->
      <!-- 본문 -->
    <div class="title-row">
        <h3 th:text="${board.title}">제목</h3>
    </div>
    <div class="info-row d-flex">
      <div class="board-explain w-25">
          <span>작성자</span>
          <span class="" th:text="${board.writer}">작성자</span>
      </div>
      <div class="w-75 justify-content-end d-flex">
          <span class="board-explain">
              <span>조회수</span>
              <span th:text="${board.views}">조회수</span>
          </span>
          <span class="board-explain">
              <span>작성일</span>
            <span th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}">작성일</span>
          </span>
          <span class="board-explain">
              <span>수정일</span>
            <span th:text="${#temporals.format(board.updateDate, 'yyyy-MM-dd HH:mm:ss')}">수정일</span>
          </span>
      </div>
    </div>

<!-- 내용-->
    <div class="article-info">
     <p th:text="${board.content}">내용</p>

     <div th:each="item : ${files}">
         <img th:src="${uploadUriPath + item}">
     </div>
    </div>


    <div class="reply-info">

<!-- 댓글 시작 -->
        <div class="comment-wrapper">
            <!-- 댓글 제작중 start-->
            <div class="comment-item mt-3" th:if="${comments !=null}" th:each="comment : ${comments}">
                <div class="content border border-info" th:style="${comment.level > 1} ? 'margin-left:'+ ${comment.level}*30+'px'">
                    <div class="info-row d-flex">
                        <div class=" mr-auto" th:text="${comment.writer}"></div>
                        <div class="right">
                            <time th:datetime="${comment.regDate}" data-format="Y-m-d H:i:s" th:text="${#temporals.format(comment.regDate, 'yyyy-MM-dd HH:mm:ss')}"></time>
                            <span>
                                <button th:attr="onclick=|toggleReplyCommentForm(replyComment${comment.no})|" class="replyCommentBtn btn btn-secondary">답글</button>

                            </span>
                        </div>
                    </div>
                    <div class="message">
                        <span th:if="${comment.level > 1}">
                                <th:block th:each="num : ${#numbers.sequence(2, comment.level)}">
                                    =>
                                </th:block>
                        </span>
                        <div class="text" th:text="${comment.content}"><pre></pre></div>
                    </div>
                </div>

                <!-- 답글 start -->
                <form action="/board/commentReply" method="post" class="comment-reply">
                    <input type="hidden" name="boardNo" th:value="${boardNo}">
                    <input type="hidden" name="writer" th:value="${user}">
                    <input type="hidden" name="grp" th:value="${comment.grp}">
                    <input type="hidden" name="lft" th:value="${comment.lft}">
                    <input type="hidden" name="rgt" th:value="${comment.rgt}">
                    <input type="hidden" name="level" th:value="${comment.level}">

                    <div th:id="replyComment + ${comment.no}" class="comment-item mt-3 replyCommentForm" >
                        <div class="content border border-info" th:style="${comment.level + 1 > 1} ? 'margin-left:'+ ${comment.level + 1}*30+'px'">
                            <div class="info-row d-flex">
                                <div class=" mr-auto" th:text="${user}"></div>
                            </div>
                            <div class="message">
                                <div class="input-block d-flex">
                                    <div class="input flex-grow-1">
                                    <textarea class="form-control" name="content"
                                              onkeyup="if (!window.__cfRLUnblockHandlers) return false; resize(this)"
                                              maxlength="8000" placeholder="내용 입력" required=""></textarea>
                                    </div>
                                    <button type="submit" id="commentReplyFormButton" class="btn btn-lg btn-outline-info">작성</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- 답글 end -->

            </div>
            <!-- 댓글 제작중 end-->

        </div>

        <!-- 댓글 끝 -->


        <!-- 댓글 작성 -->
        <form class="write-area" th:action="@{/board/{boardNo}/comment(boardNo=${boardNo})}" id="commentForm" method="post">
            <div class="subtitle">댓글 작성</div>
            <div class="form-row">
                <div class="form-group col-sm-auto">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" name="writer" class="form-control form-control-sm" th:value="${user}" readonly>
                    </div>
                </div>
            </div>

            <div class="input-wrapper mb-5">
                <div class="input-block">
                    <div class="input">
                        <textarea class="form-control" name="content"
                                  onkeyup="if (!window.__cfRLUnblockHandlers) return false; resize(this)"
                                  maxlength="8000" placeholder="내용 입력" required=""></textarea>
                    </div>
                </div>
                <div class="mt-1 d-flex">
                    <button type="button" id="prevButton" onclick="movePrevious()" class="mr-auto btn btn-lg btn-outline-secondary">이전</button>
                    <button type="submit" id="commentFormButton" class="btn btn-lg btn-outline-info">작성</button>
                </div>
            </div>
        </form>
    </div>


  </div>









  <footer th:replace="/commons/fragments :: commons_footer"></footer>
  <th:block th:include="/commons/fragments :: commons_jquery_pluginis"></th:block>
  <script src="/js/my_js/view.js"></script>
</body>
</html>