<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.portshop.mapper.AdminMapper">
    <select id="getAdminPw" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT pw FROM admin WHERE id = #{id}
    </select>

</mapper>