<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.portshop.mapper.ArchiveMapper">

    <insert id="insertFileLocation">
        insert into archive
            (board_no, file_name)
        values
               <foreach collection="list" item="item"  separator=",">
                    (#{boardNo}, #{item})
               </foreach>
    </insert>

    <select id="selectBoardFileNames" parameterType="Long" resultType="String">

        SELECT file_name
        FROM user_board
        JOIN archive
        ON user_board.no = archive.board_no
        WHERE user_board.no = #{boardNo}

    </select>
</mapper>