<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.portshop.mapper.BoardMapper">
    <select id="selectBoards" resultType="com.shop.portshop.vo.BoardVO">
        SELECT
            no,
            title,
            writer,
            reg_date AS regDate,
            views
        FROM
            user_board
        ORDER BY
            no desc
        LIMIT
            #{startRecord}, #{recordPerPage}



    </select>


    <insert id="insertOneBoard" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO
            user_board(`title`, `content`, `writer`)
        VALUES (
                   #{title},
                   #{content},
                   'Temp Writer')

    </insert>

    <select id="countAllBoard" resultType="Integer">
        SELECT COUNT(*) FROM user_board
    </select>

    <select id="selectOneBoard" parameterType="Long" resultType="com.shop.portshop.vo.BoardVO">
        SELECT
            no,
            title,
            content,
            writer,
            views,
            reg_date AS regDate,
            update_date As updateDate
        FROM
             user_board
        WHERE
            no = #{boardNo}
    </select>

    <update id="increaseViews" parameterType="Long">
        UPDATE user_board
        SET views = views + 1
        WHERE no = #{no}
    </update>

    <insert id="insertNewRootComment" parameterType="CommentVO">

        <selectKey keyProperty="grp" resultType="long" order="BEFORE">
            SELECT MAX(no) + 1 FROM comment
        </selectKey>

        INSERT INTO
            comment(board, writer, content, grp)
        VALUES(
            #{board},
            #{writer},
            #{content},
            #{grp}
        )
    </insert>

    <select id="selectComments" parameterType="Long" resultType="CommentVO">
        SELECT
               *
        FROM
             comment
        WHERE
              board = #{boardNo}
        ORDER BY
                 grp, lft
    </select>



    <select id="selectLastChildRgt" parameterType="CommentVO" resultType="int">
        SELECT max(rgt)
        FROM comment
        WHERE
        board = #{board} and
        grp = #{grp} and
        lft between #{lft} and #{rgt}
    </select>

    <update id="updateIncreaseCommentLft">
        update comment
        set
            lft = lft + 2
        where
            board = #{commentVO.board} and
            grp = #{commentVO.grp} and
            lft >= #{lastChildRgt}
    </update>

    <update id="updateIncreaseCommentRgt">
        update comment
        set
            rgt = rgt + 2
        where
            board = #{commentVO.board} and
            grp = #{commentVO.grp} and
            rgt >= #{lastChildRgt}
    </update>

    <insert id="insertNewChildComment">
        insert into comment(
                            writer,
                            content,
                            board,
                            grp,
                            level,
                            lft,
                            rgt)
        values (
                #{commentVO.writer},
                #{commentVO.content},
                #{commentVO.board},
                #{commentVO.grp},
                #{commentVO.level} + 1,
                #{lastChildRgt},
                #{lastChildRgt} + 1
                )
    </insert>


    <delete id="deleteBoard" parameterType="long">
        delete from user_board where no = #{boardNo};
    </delete>

    <delete id="deleteAllComment" parameterType="long">
        delete from comment where board = #{boardNo}
    </delete>

    <select id="selectAllFiles" parameterType="long" resultType="string">
        select file_name from archive where board_no = #{boardNo};
    </select>

    <delete id="deleteAllFileNames" parameterType="long">
        delete from archive where board_no = #{boardNo}
    </delete>

</mapper>