<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.portshop.mapper.MemberMapper">
    <insert id="addMemberToDB">
        INSERT INTO
            member(id, pw, name, email, tel, address)
        VALUES
        (
            #{id},
            #{pw},
            #{name},
            #{email},
            #{tel},
            #{address}
        )
    </insert>

    <select id="getMember" parameterType="String" resultType="MemberVO">
        SELECT * FROM member WHERE id = #{inputId}
    </select>

    <select id="getPassword" parameterType="String" resultType="String">
        SELECT pw FROM member WHERE id = #{id}
    </select>


</mapper>